.userinfo-section {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 1px solid #aaa;
    background-color: #fff4;
}
.signout-button {
    text-align: right;
    margin: 0 1rem;
}
.signout-button a {
    color: black;
}

.userinfo-full-name {
    align-self: center;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
}

.userinfo-avatar {
    padding: 1rem 0;
    margin: 0.5rem 0;
    background-color: #cdf;
}

.userinfo-names {
    text-align: left;
    padding: 0.5rem 2rem;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.userinfo-date {
    display: block;
    text-align: left;
    padding: 0 2rem;
}