.user-profile-nav-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff4;
    max-width: 900px;
    margin: 0 auto;
}

.user-profile-nav-section a {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.user-profile-nav-section a:hover {
    background-color: #acf2;
}