.account-nav-section {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fffb;
}

.account-nav-profile {
    display: flex;
    margin: 1rem auto;
    margin-bottom: 0;
    padding: 1rem;
}
.account-nav-profile:hover {
    background-color: #fffe;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.account-nav-profile-names {
    margin: auto 0;
    margin-left: 0.5rem;
}

.account-nav-profile-arrow {
    margin: auto 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #fffe;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550;
    color: black;
}
.dropdown-content:hover {
    text-shadow: 0 0 4px grey;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.account-nav-link-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.account-nav-link a {
    display: block;
    padding: 1rem 3rem;
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}
.account-nav-link a:hover {
    background-color: rgb(170, 241, 241);
    border-radius: 2rem;
}