.friends-nav-section {
    max-width: 900px;
    background-color: #fff8;
    border: 0.5px solid #aaa;
    margin: 0 auto;
}

.friends-nav-link-list {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.friends-nav-link {
    display: block;
    width: 100%;
}
.friends-nav-link a {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    color: black;
}

.friends-nav-link a:hover {
    background-color: #fffe;
}