.signin-section {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.signin-box {
  min-width: 400px;
  background-color: #adfc;
  border: 1.5px solid #aaa;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #0003;
}

.signin-button {
  border-radius: 10px;
  font-size: 1.2rem;
}

.fail-message {
  display: flex;
  justify-content: center;
  color: rgb(121, 4, 4);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .signin-box {
    min-width: 100%;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
}