.signin-section {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.signin-box {
  min-width: 400px;
  height: 400px;
  background-color: #fff8;
  border: 1.5px solid #aaa;
  border-radius: 15px;
}