.friend-box-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.5px solid #aaa;
}

.friend-box-username {
    text-align: left;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 550;
}

.friend-box-buttons {
    display: block;
    width: 100%;
    text-align: right;
}

.friend-box-buttons button, 
.friend-box-buttons a {
    margin: 0 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.friend-box-buttons button:hover {
    background-color: transparent;
    cursor: pointer;
}
.friend-box-buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px #aaa;
}

.friend-box-view-button {
    background-color: transparent;
    border: 2px solid #30c7f0;
    text-decoration: none;
    color: black;
}
.friend-box-accept-button {
    background-color: transparent;
    border: 2px solid #30c7f0;
}
.friend-box-remove-button {
    background-color: transparent;
    border: 2px solid #ff6542;
}

@media (max-width: 600px) {
    .friend-box-buttons button, 
    .friend-box-buttons a {
        margin: 0 0.5rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.7rem;
        font-size: 1rem;
        font-weight: 600;
    }
}